<p id="notice"><%= notice %></p>

  <div class ='container'>
    <div class ='new'> <%= link_to 'Add Article', new_article_path %></div>
    <h2>Articles</h2>


    <div class='clearfix'>
      <% @articles.each do |article| %>
      <div class='article'>
        <ul class='content'>
          <li class='title'><%= link_to article.title, article %></li>
          <article class="blurb"><%= article.content.truncate(200) %></article>
          <li class='publish'>by: <span class= 'author'><%= link_to article.user.name, article%></span></li>
          <li  class='publish'>category: <a class='publish' href="/categories/<%= article.category%>"><%= article.category.name%></a></li>
          <%= link_to 'Edit', edit_article_path(article) %>
          <!-- <%#= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %> -->
        </ul>
      </div>
        <% end %>
    </div>
  <br>
</div>
