<div class='container'>
  <p  class='category_index'>
    <a href="/categories/<%= @article.category%>"><%= @article.category.name%></a>
  </p>
</div>
<div class='container'>
  <p id="notice"><%= notice %></p>
  <section class='content'>
    <p class='title'><%= (@article.title)%></p>
    <p class="blurb"><%= markdown(@article.content) %></p>
    <P class="publish">by: <%= link_to @article.user.name, @article.user %></P>
    
    <p  class='publish'>published: <%= @article.created_at.strftime("%d %b. %Y %H:%M:%S")%></p>
    <p  class='publish'>updated: <%= @article.updated_at.strftime("%d %b. %Y %H:%M:%S") %></p>
    <p  class='publish'>category: <a class='publish' href="/categories/<%= @article.category%>"><%= @article.category.name%></a></p>

    <%= link_to 'Edit', edit_article_path(@article) %>
    <!-- <%#= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %> -->
  </section>
  <section>
    <a class="new" href="/categories/new">Create a category</a>
    <a class="new" href="/articles/new">Create an article</a>
    <a class="new" href="/articles">All articles</a>
  </section>

</div>
